################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GraphControl.Core/bin
/GraphControl.Core/obj
/GraphControlWinForms/bin
/GraphControlWinForms/obj
/GraphControlWinFormsTestApp/bin
/GraphControlWinFormsTestApp/obj
/packages/LightInject.6.3.4
/GraphControl.Tests/bin
/GraphControl.Tests/obj
/packages
